html
  head
    meta(charset='utf-8')
    title Africa Conflicts
    link(href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.10/d3.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/d3-geo-projection/0.2.15/d3.geo.projection.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.19/topojson.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
  style(type='text/css').
    .subunit.AGO { fill: black; }
    .subunit.BEN { fill: black; }
    .subunit.BFA { fill: black; }
    .subunit.BWA { fill: black; }
    .subunit.BDI { fill: orange; }
    .subunit.CIV { fill: black; }
    .subunit.CMR { fill: red; }
    .subunit.COD { fill: orange; }
    .subunit.COG { fill: black; }
    .subunit.COM { fill: black; }
    .subunit.CPV { fill: black; }
    .subunit.DZA { fill: yellow; }
    .subunit.DJI { fill: black; }
    .subunit.ETH { fill: orange; }
    .subunit.EGY { fill: red; }
    .subunit.ERI { fill: yellow; }
    .subunit.GAB { fill: black; }
    .subunit.GHA { fill: black; }
    .subunit.ZMB { fill: black; }
    .subunit.CAF { fill: orange; }
    .subunit.GMB { fill: black; }
    .subunit.GIN { fill: black; }
    .subunit.GNB { fill: black; }
    .subunit.GNQ { fill: black; }
    .subunit.KEN { fill: orange; }
    .subunit.LBR { fill: black; }
    .subunit.LBY { fill: red; }
    .subunit.UGA { fill: black; }
    .subunit.ZAF { fill: black; }
    .subunit.ZWE { fill: black; }
    .subunit.LSO { fill: black; }
    .subunit.MDG { fill: black; }
    .subunit.MLI { fill: orange; }
    .subunit.MRT { fill: black; }
    .subunit.MUS { fill: black; }
    .subunit.MAR { fill: black; }
    .subunit.MOZ { fill: yellow; }
    .subunit.MWI { fill: black; }
    .subunit.NAM { fill: black; }
    .subunit.NER { fill: orange; }
    .subunit.NGA { fill: red; }
    .subunit.RWA { fill: black; }
    .subunit.SEN { fill: black; }
    .subunit.STP { fill: black; }
    .subunit.SWZ { fill: black; }
    .subunit.SYC { fill: black; }
    .subunit.TCD { fill: orange; }
    .subunit.SLE { fill: black; }
    .subunit.SOM { fill: red; }
    .subunit.SSD { fill: black; }
    .subunit.SDN { fill: red; }
    .subunit.TGO { fill: black; }
    .subunit.TZA { fill: black; }
    .subunit.TUN { fill: orange; }

    .subunit-boundary {
      fill: none;
      stroke: #777;
      stroke-dasharray: 2,2;
      stroke-linejoin: round;
    }
    
    .place,
    .place-label {
      fill: #444;
    }
    text {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 10px;
      pointer-events: none;
    }
    .subunit-label {
      fill: #777;
      fill-opacity: .5;
      font-size: 20px;
      font-weight: 300;
      text-anchor: middle;
    }

    svg {
      margin-left: -150px;
      position: absolute;
      z-index: 1;
    }


    .legend {
      margin-right: 75px;
      padding: 0px 30px 20px 30px;
      float: right;
      font-family: 'Lato';
      background-color: #dddddd;
    }
    .title {
      margin-bottom: 15px;
      margin-left: 5px;
    }

    .box {
      height: 20px;
      width: 20px;
      margin-bottom: 10px;
    }

    .maroon {
      background-color: maroon;
    }

    .red {
      background-color: red;
    }

    .orange {
      background-color: orange;
    }

    .yellow {
      background-color: yellow;
    }

    .inline {
      float: left;
      z-index: 2;
      position: absolute;
    }

    .inline a {
      color: black;
    }

  body
    .inline
      a(href='/paths')
        i.fa.fa-times.fa-3x
    script(type='text/javascript').
      var width = 900,
          height = 700;

      var projection = d3.geo.albers()
          .center([0, 55.4])
          .rotate([4.4, 0])
          .parallels([50, 60])
          .scale(1200 * 5)
          .translate([width / 2, height / 2]);
      
      var path = d3.geo.path().projection(d3.geo.mercator().scale(500).translate([width/2, height/2])).pointRadius(2);

      var svg = d3.select("body").append("svg").attr("width", width).attr("height", height);

      d3.json("africa.json", function(error, africa) {
        svg.selectAll(".subunit").data(topojson.feature(africa, africa.objects.subunits).features)
         .enter().append("path").attr("class", function(d) {return "subunit " + d.id; }).attr("d", path);
      
        svg.append("path").data(topojson.mesh(africa, africa.objects.subunits, function(a, b) {return a !== b}))
          .attr("d", path).attr("class", "subunit-boundary");

      });
    .legend
      .row.title
        h1 Africa Conflicts
      .row
        .col-md-2
          .box.maroon
        .col-md-9 
          p 10,000 + deaths in last year
      .row
        .col-md-2
          .box.red
        .col-md-9 
          p 1,000 - 9,999 deaths in last year
      .row
        .col-md-2
          .box.orange
        .col-md-9 
          p 100 - 999 deaths in last year
      .row
        .col-md-2
          .box.yellow
        .col-md-9 
          p fewer than 100 deaths in last year
  html