extends layout

block content
  .row#lists
    .col-md-12.menu-black
      .col-md-1#no-pad
        a(href='/paths')
          i.fa.fa-bars.fa-3x
      .col-md-3
      .col-md-4
        h1#menu-title Africa
      .col-md-3.search
        i.fa.fa-search.fa-2x &nbsp
        input
      .col-md-1
        a(href='/paths/wishlist')
          i.fa.fa-shopping-cart.fa-2x


